django
joblib
scikit-learn==1.6.1
xgboost
matplotlib
seaborn
pandas
numpy
celery
redis
tensorflow
django-crispy-forms
crispy-bootstrap5
python-dotenv
reportlab
Pillow
seaborn
python-magic
mysqlclient
pytz